/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* CSS CUSTOM PROPERTIES */

:root {
  --ff-primary: 'Inter', sans-serif;

  --fw-reg: 400;
  --fw-semi: 600;
  --fw-bold: 700;

  --fs-base: 0.875rem;
  --fs-lg: 1.5rem;

  --clr-primary-400: hsl(75, 94%, 57%);

  --clr-neutral-100: hsl(0, 0%, 100%);
  --clr-neutral-500: hsl(0, 0%, 20%);
  --clr-neutral-800: hsl(0, 0%, 12%);
  --clr-neutral-900: hsl(0, 0%, 8%);
}

/* CSS RESET */

*,
::before,
::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  display: block;
}

a {
  text-decoration: none;
}

/* BODY STYLES */

body {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: var(--ff-primary);
  color: var(--clr-neutral-100);
  background-color: var(--clr-neutral-900);
  height: 100vh;
}

/* UTILITY CLASSES */

.flex {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.flow-content > * + * {
  margin-top: 2rem;
}

/* CARD STYLES */

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 2.5rem;
  background-color: var(--clr-neutral-800);
  border-radius: 12px;
}

.card--img {
  width: 5.5rem;
  height: 5.5rem;
  margin: 1.5rem;
  border-radius: 50%;
}

.card--title {
  font-size: var(--fs-lg);
  font-weight: var(--fw-semi);
  margin-bottom: 0.6rem;
}

.card--subtitle {
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  color: var(--clr-primary-400);
  margin-bottom: 1.5rem;
}

.card--text {
  font-size: var(--fs-base);
  font-weight: var(--fw-reg);
  margin-bottom: 1.5rem;
}

.card--link {
  font-size: var(--fs-base);
  font-weight: var(--fw-bold);
  width: 100%;
  padding: 0.8rem 6rem;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  background-color: var(--clr-neutral-500);
  color: var(--clr-neutral-100);
}
